{% extends "main.html" %}
{% block content %}
<header id="header">
      <div class="container-fluid">
          <h1>Sports Catalog</h1>
      </div>
      <div class="row top-menu">
        <div class="col-md-10"></div>
        <div class="col-md-2 text-right">
          <a href="{{url_for('gdisconnect')}}">Logout</a>
        </div>
      </div>
</header>

<div class="row">
  <div class="column">
<!--   <div class="md-col-1">-->
    <h2>Items for {{category.name}}</h2>
    <ul class="nav category">
    {% for i in items %}
        <li class="#"><a href= '{{url_for('displayItem', category_name=category.name, item_name=i.name)}}'>{{i.name}}</a></li>
    {% endfor %}
   </ul>
  </div>
</div>
<div class="row">
  <a href= '{{url_for('addCategoryItem', category_name=category.name)}}'>ADD NEW ITEM</a>
</div>


{% include "footer.html" %}
{% endblock %}
